.aside .logo a::before {
    border-top: 4px solid #2196f3;
    border-left: 4px solid #2196f3;
}

.aside .logo a::after {
    border-bottom: 4px solid #2196f3;
    border-right: 4px solid #2196f3;
}

.contact .contact-info-item .fas,
.blog .blog-item-inner .blog-info .blog-tags a,
.lightbox .lightbox-controls .prev-item .fas,
.lightbox .lightbox-controls .next-item .fas,
.portfolio .portfolio-item .portfolio-info .icon i,
body.dark .portfolio .portfolio-filter button.active,
.portfolio .portfolio-filter button.active,
.services .services-item .services-item-inner .icon i,
.about .about-content .about-text .sub-title span,
body.dark .aside .aside-nav li a:hover,
body.dark .aside .aside-nav li a.active,
.aside .aside-nav li a:hover,
.aside .aside-nav li a.active {
    color: #2196f3;
}

.blog .blog-item-inner .blog-img .blog-date,
.services .services-item .services-item-inner:hover .icon,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skill-item .custom-progress .progress-in,
.btn,
.section-title .main-title::after,
.section-title .main-title::before,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a {
    background-color: #2196f3;
}

.portfolio .portfolio-filter button.active {
    border-bottom: 2px solid #2196f3;
}